<template>
    <div class="content">
        <h1>Sampler Calendar</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <vue-event-calendar :events="sampletasks" @day-changed="handleDayChanged">
                        <template scope="props">
                            <div v-for="(event, index) in props.showEvents" class="event-item">
                                <div class="wrapper">
                                    <h3 class="title">{{index+1}}. {{event.title}}</h3>
                                    <p class="time hidden">{{event.date}}</p>
                                    <p class="desc">{{event.desc}}</p>
                                </div>
                            </div>
                        </template>
                    </vue-event-calendar>
                </div>
                <div class="col-sm-12">
                    <h3 style="display:none;">
                        {{sampletasks}}
                    </h3>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {

        };
    },
    mounted: function () {
        jQ(".date").html("All Sample Tasks");
    },
    computed: {
        ...mapGetters({
            addresses: 'getAddresses',
        }),
        sampletasks: function () {
            // date denotes day of task, 
            // title denotes address of location for sampler to visit and 
            // desc denotes remarks from last samplar regarding location
            var addr = [];
            var i = 0;
            this.addresses.forEach(function (el) {
                var sl = {};
                if(i%2 == 0)
                    sl.date = "2017/07/19";
                else
                    sl.date = "2017/07/28";
                sl.desc = "The Quick brown fox jumps over the lazy dog.";
                sl.title = el.addrNum + " " + el.street + " " + el.suite + " " + el.city + " " + el.state + " " + el.zipcode + " " + el.country;
                addr.push(sl);
                i++;
            }, this);
            return addr;
        }

    },
    methods: {
        handleDayChanged: function () {
            window.selDate = jQ(".time").html();
            jQ(".date").html("Sample Tasks: " + window.selDate);
        },
        created() {
            this.$store.dispatch('getAddresses');
        }
    }
}
jQ(document).ready(function () {
    // jQ("div.cal-wrapper div.item.event").on("click",function(){
    //     console.log(jQ(this));
    // });;
});
</script>

<style scoped>
/* Style the content */
h1 {
    margin: 5px 0px 25px 0px;
    text-align: center;
    font-size: 28px;
    color: #367fa9;
    font-weight: 600;
}
</style>
<style>
.__vev_calendar-wrapper .cal-wrapper .cal-header
{
    background:transparent;
}
.__vev_calendar-wrapper .cal-wrapper .cal-header .l {
    border: 2px solid #ccc;
    height: 50px;
    width: 14.28%;
    min-width: 50px;
    border-radius: 10px;
    float: left;
    background: #eee;
}

.__vev_calendar-wrapper .cal-wrapper .cal-header .r {
    border: 2px solid #ccc;
    height: 50px;
    width: 14.28%;
    min-width: 50px;
    float: right;
    border-radius: 10px;
    background: #eee;
}

.__vev_calendar-wrapper .arrow-left.icon:before,
.__vev_calendar-wrapper .arrow-right.icon:before {
    border-color: #367fa9;
    border-width: 3px;
}

.__vev_calendar-wrapper .cal-wrapper .cal-header .title {
    width: 71%;
    font-size: 20px;
}

div.cal-wrapper .weeks {
    background: #dcdcdc;
    font-weight: 600;
    border: 1px solid #ccc;
    color: #367fa9;
}

.cal-wrapper {
    font-size: 1.5em;
    background: #ecf0f5;
}

div.cal-wrapper .title {
    font-weight: bold;
}

div.cal-wrapper>div.cal-body>div.dates>div.item {
    border: 1px solid #ccc;
}

.__vev_calendar-wrapper .cal-wrapper .cal-body .weeks .item,
.__vev_calendar-wrapper .cal-wrapper .cal-body .dates .item .date-num {
    font-size: 16px;
}

div.cal-wrapper>div.cal-body>div.dates>div.dates {
    border: 1px solid #ccc;
}

.__vev_calendar-wrapper .events-wrapper .event-item .desc {
    padding: 0px;
    background:#ffffff;
    color:#888;
}

.__vev_calendar-wrapper .events-wrapper .event-item {
    padding: 0px 20px 10px 20px;
}

.__vev_calendar-wrapper .events-wrapper .cal-events {
    overflow-y: auto;
    padding: 0px 20px 20px 0px;
    margin: 10px 0px;
}

.cal-events::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(54, 127, 169);
    border-radius: 20px;
}

.cal-events::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 20px;
}

.cal-events::-webkit-scrollbar-thumb {
    background-color: #F90;
    border-radius: 20px;
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}

.__vev_calendar-wrapper .events-wrapper .date {
    margin-bottom: 20px;
    padding: 10px 10px;
}

.__vev_calendar-wrapper .events-wrapper .event-item {
    margin-top: 0px;
    margin-bottom: 15px;
    background:#ffffff;
}

.__vev_calendar-wrapper .events-wrapper .event-item:last-child {
    margin-bottom: 0px;
}

.__vev_calendar-wrapper .events-wrapper .event-item .title {
    color: #367fa9;
    font-weight: 600;
    height:auto;
    width:100%;
    line-height:22px;
    padding:20px 0px 10px 0px;
    background:#ffffff;
}

@media screen and (min-width: 768px) {
    .__vev_calendar-wrapper .cal-wrapper {
        padding: 100px 30px 100px 0px;
    }
    .__vev_calendar-wrapper .events-wrapper {
        padding: 25px 0px 80px 25px;
    }
    .__vev_calendar-wrapper .cal-wrapper {
        padding: 30px 30px 10% 0px
    }
}

@media screen and (max-width: 768px) {
    .cal-wrapper,
    .events-wrapper {
        width: 100% !important;
        position: static !important;
    }
}
</style>