<template>
    <div class="content">
        <app-timer></app-timer>
        <h2>This is the Sampler Containers assigned</h2>
        <table>
            <thead>
                <th>Container Number</th>
                <th>Date Recieved</th>
                <th>Date Used</th>
                <th>Time Remaining</th>
                <th>Notes</th>
                <th>Status</th>
            </thead>
            <tbody>
            <tr v-for="container in containers">
                <td>{{ container.contNum }}</td>
                <td>{{ container.dateRec }}</td>
                <td>{{ container.dateUsed }}</td>
                <td>{{ container.timeLeft }}</td>
                <td>{{ container.notes }}</td>
                <td>{{ container.status }}</td>
            </tr>
            </tbody>
            <input type="button" value="Reorder Reagents" @click="reorder">
        </table>
    </div>
</template>

<script>
import Timer from './modules/Timer.vue';

export default {
    computed: {
        //pull in user array from store
        containers() {
            return this.$store.getters.getContainers;
        }
    },
    components: {
        appTimer: Timer
    },
    methods: {
        reorder() {
            
        }
    }
}
</script>