<template>
    <div class="content">
        <h1>Sampler Dashboard</h1>
        
    </div>
</template>

<script>
export default {
    data() {
        return {

        };
    },
    mounted: function () {
        
    },
    computed: {

    },
    methods: {

    }
}
</script>

<style scoped>
/* Style the content */

h1 {
    margin: 5px 0px 25px 0px;
    text-align: center;
    font-size: 28px;
    color: #367fa9;
    font-weight: 600;
}
</style>
