<template>
    <div class="content">
        <h2>Sampler Map</h2>

    </div>
</template>

<script>
export default {
    data() {
        return {
        }
    }
}
</script>

<style scoped>
h2 {
    margin: 10px 0px 25px 0px;
    text-align: center;
    font-size: 28px;
    color: #367fa9;
    font-weight: 600;
}
</style>