<template>
    <div class="content">
        <app-task-list></app-task-list>
    </div>
</template>

<script>
    import TaskList from './modules/TaskList.vue';


    export default {
        components: {
            appTaskList: TaskList,
        }
    }
</script>