<template>
    <div>
    
        <form class="login-form">
            <h1>Forgot Password</h1>
            <label>Email:</label>
            <input type="text" value="Enter Username" v-model="email">
            <div class="clr"></div>
             <label>Reset Code:</label>
            <input type="password" value="Enter Password" v-model="resetCode">
            <div class="clr"></div>
            <label></label>
            <input type="button" value="Login" @click="authy" class="ui-button">
            <input type="button" value="Submit" class="ui-button">
            <div class="hidden-div">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id turpis pulvinar, commodo eros quis, aliquam orci. Integer velit magna, </div>
        </form>
        
    </div>
</template>

<script>
    export default {
        data() {
            return {
                resetCode:"",
                email:""
            }
        },
        computed: {
            
        },
        methods: {

        }
    }
</script>

<style>

</style>