<template>
    <div>
    
        <form class="login-form">
            <h1>Login</h1>
            <label>User id</label>
            <input type="text" value="Enter Username" v-model="usrName">
            <div class="clr"></div>
             <label>Pin/Passcode</label>
            <input type="password" value="Enter Password" v-model="psWord">
            <div class="clr"></div>
            <label></label>
            <input type="button" value="Login" @click="authy" class="ui-button">
            <input type="button" value="Submit" class="ui-button">
            <div class="hidden-div">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id turpis pulvinar, commodo eros quis, aliquam orci. Integer velit magna, </div>
        </form>
        
    </div>
</template>

<script>
    export default {
        data() {
            return {
                usrName: '',
                psWord: ''
            }
        },
        computed: {
            
        },
        methods: {
            authy() {
                const token = {
                    name: this.usrName,
                    pass: this.psWord
                }
                console.log(token);
            }
        }
    }
</script>

<style>

</style>