<template>
    <div>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <em class="menu-toggler" @click="pushMenu">
                            <i class="fa fa-list fa-2x"></i>
                        </em>
                    </li>
                    <li class="treeview">
                        <router-link to="/admin/dash" tag="a">
                            <i class="fa fa-dashboard"></i>
                            <span>Admin</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </router-link>
                        <ul class="treeview-menu">
                            <li class="active">
                                <router-link to="/admin/system" tag="a" activeClass="active">
                                    <i class="fa fa-info"></i>
                                    <span>System Information</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/admin/account" tag="a" activeClass="active">
                                    <i class="fa fa-user-o"></i>
                                    <span>Account</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/admin/users" tag="a" activeClass="active">
                                    <i class="fa fa-users"></i>
                                    <span>Users</span>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview active">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <router-link to="/sampler/dash" tag="span" activeClass="active">Sampler</router-link>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <router-link to="/sampler/calendar" tag="a" activeClass="active">
                                    <i class="fa fa-calendar"></i>
                                    <span>Calendar</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/sampler/current" tag="a" activeClass="active">
                                    <i class="fa fa-file-text-o"></i>
                                    <span> Current Tasks</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/sampler/completed" tag="a" activeClass="active">
                                    <i class="fa fa-file-o"></i>
                                    <i class="fa fa-check"></i>
                                    <span>Completed Tasks</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/sampler/containers" tag="a" activeClass="active">
                                    <i class="fa fa-flask"></i>
                                    <span>Containers Assiged</span>
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/sampler/map" tag="a" activeClass="active">
                                    <i class="fa fa-map"></i>
                                    <span> Map</span>
                                </router-link>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
    </div>
</template>

<script>
export default {
    data() {
        return {
            userType: "",
            admin: true,
            sampler: true,
            showNav: true
        };
    },
    methods: {
        checkUser() {
            if (this.userType == "admin") {
                return this.admin = true;
            } else if (this.userType == "sampler") {
                return this.sampler = true;
            } else {
            }
        },
        pushMenu() {
            console.log(window.innerWidth);
            if (window.innerWidth > 787) {
                 jQ(".main-sidebar").toggleClass("mini-menu");
                 window.$cwidth = jQ(".content-wrapper").css("margin-left");
                 if (window.$cwidth == "230px") {
                     jQ(".content-wrapper").css("margin-left", "50px");
                 }
                 else {
                     jQ(".content-wrapper").css("margin-left", "230px");
                 }
            }
        }
    }
};
</script>

<style scoped>
.main-sidebar {
    padding-top: 0px;
    transition: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

h4 {
    color: #fff;
}

.menu-toggler {
    display: block;
    color: #cfcfcf;
    padding: 20px 0px 10px 15px;
}

.treeview>a {
    font-size: 14px;
}

.sidebar-menu .treeview-menu>li>a {
    font-size: 12px;
}

.sidebar-menu .treeview-menu>li {
    line-height: 23px;
}

.fa.fa-check {
    margin-left: -24px;
}

.mini-menu {
    width: 50px !important;
}

.mini-menu span {
    opacity: 0;
    transition: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}


/* For tablet and mobile */
@media (max-width: 767px) {
    .main-sidebar,
    .left-side {
        -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
        -o-transform: translate(0px, 0);
        transform: translate(0px, 0);
    }
   
}
</style>
