<template>
    <div>
        <form>
            <div class="frm-head">
                <input type="button" class="geo-lock" value="Geo-Location Check"/>
                <ul class="fixture-list">
                    <li>Fixtures</li>
                </ul>
                <input type="button" value="Add New Fixture"/>
                <input type="button" value="Remove This Fixture"/>
            </div>
            <div class="frm-body">
                <p>Fixture:</p>
                <input type="text" v-model="fixture"/>
                
                <p>Container #:</p>
                <input type="text" v-model="contNum"/>
                
                <p>Temperature (F):</p>
                <input type="text" v-model="temp"/>
                
                <p>Chlorine (mg/L):</p>
                <input type="text" v-model="cL"/>
                
                <p>Turbidity (NTU):</p>
                <input type="text" v-model="turb"/>
                
                <p>pH Level:</p>
                <input type="text" v-model="pH"/>

                <div class="dropdown">
                    <span>Is this a coliform Sample?</span>
                    <div class="dropdown-content">
                        <ul>
                            <li @click="isColiform(1)">Yes</li>
                            <li @click="isColiform(0)">No</li>
                        </ul>
                    </div>
                </div>
                <input type="button" value="Save" @click="save"/>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                id: 0,
                contNum: 0,
                temp: 0,
                cL: 0,
                turb: 0,
                pH: 0,
                fixture: '',
                isColiformSample: false
            }
        },
        //take addrId from addresses and save it in const sample
        props: ['addrId'],
        methods: {
            save() {
                const sample = {
                    id: this.id,
                    contNum: this.contNum,
                    temp: this.temp,
                    cL: this.cL,
                    turb: this.turb,
                    pH: this.pH,
                    fixture: this.fixture,
                    isColiformSample: this.isColiformSample,
                    addrId: this.addrId
                };
                console.log(sample);
            },
            isColiform(i) {
                if (i = 1) {
                    return this.isColiformSample = true;
                } else {
                    return this.isColiformSample = false;
                };
            }
        }
    }
</script>

<style>

</style>
