<template>
    <div>
        <table>
            <thead>
                <th>Address Number</th>
                <th>Street Name</th>
                <th>Suite</th>
                <th>City</th>
                <th>State</th>
                <th>Zipcode</th>
            </thead>
            <tbody>
            <tr v-for="address in addresses" @click="getSample">
                <td>{{ address.addrNum }}</td>
                <td>{{ address.street }}</td>
                <td>{{ address.suite }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.state }}</td>
                <td>{{ address.zipcode }}</td>
            </tr>
            </tbody>
        </table>
        <!--
        ":addrId" is the prop passed to the child "id" has to be declared here
        currently running into a proble getting the "addrId" attribute from
        the addresses array
        -->
        <app-sample :addrId="id"></app-sample>
    </div>
</template>

<script>
    import Sample from './Sample.vue';
    
    export default {
        data() {
            return {
            //use "id" to pass an address id to the child "Sample.Vue"
                id: 123
            }
        },
        components: {
            appSample: Sample
        },
        computed: {
            //pull in addresses array from store
            addresses() {
                return this.$store.getters.getAddresses;
            }
        },
        methods: {
            getSample() {
            //get addrId from the addresses array and display via console
            //user addrId to pull in the correct sample information
                const addressId = {
                    addrId: this.$state.addresses.addrId,
                };
                console.log(addressId);
            }
        }
    }
</script>

<style>
    th, td {
        padding: 15px;
    }
    th {
        text-align: left;
    }
</style>