<template>
    <div>
        <div>
            <div class="input-field">
                <p>Days: </p>
                <input type="number" class="timer-input" v-model="days">
            </div>

            <div class="input-field">
                <p>Hours: </p>
                <input type="number" class="timer-input" v-model="hours">
            </div>

            <div class="input-field">
                <p>Minutes: </p>
                <input type="number" class="timer-input" v-model="minutes">
            </div>

            <div class="input-field">
                <p>Seconds: </p>
                <input type="number" class="timer-input" v-model="seconds">
            </div>

            <div>
                <input type="button" value="Start Timer" @click="startTimer">
            </div>
        </div>

        <div class="block">
            <p class="digit">{{ daysLeft }}</p>
            <p class="text">Days</p>
        </div>
        <div class="block">
            <p class="digit">{{ hrsLeft }}</p>
            <p class="text">Hours</p>
        </div>
        <div class="block">
            <p class="digit">{{ minLeft }}</p>
            <p class="text">Minutes</p>
        </div>
        <div class="block">
            <p class="digit">{{ secLeft }}</p>
            <p class="text">Seconds</p>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                i: 0,
                
                days: 0,
                hours: 0,
                minutes: 0,
                seconds: 0,
                
                daysLeft: 0,
                hrsLeft: 0,
                minLeft: 0,
                secLeft: 0,
                
                deadline: 0
            };
        },
        methods: {
            startTimer() {
                //prevent multiple intervals - CURRENTLY DOES NOT WORK AS INTENTED
                clearInterval();

                this.daysLeft = this.days;
                this.hrsLeft = this.hours;
                this.minLeft = this.minutes;
                this.secLeft = this.seconds;
                
                //convert time into milliseconds and store in deadline
                this.deadline = (this.days * 24 * 60 * 60 * 1000) 
                                + (this.hours * 60 * 60 * 1000) 
                                + (this.minutes * 60 * 1000) 
                                + (this.seconds * 1000);
                
                setInterval(() => {
                    this.deadline = this.deadline - 1000;
                    
                    this.daysLeft = Math.floor(this.deadline / (1000 * 60 * 60 * 24));
                    this.hrsLeft = Math.floor((this.deadline % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    this.minLeft = Math.floor((this.deadline % (1000 * 60 * 60)) / (1000 * 60));
                    this.secLeft = Math.floor((this.deadline % (1000 * 60) / 1000));
                }, 1000); 
                
                if (this.deadline <= 0) {
                    return this.deadline = 0;
                    //output message 
                }
            }
        }
    };
</script>

<style>
/*styles for timer*/
    .input-field {
        float: left;
        width: 100px;
        height: 75px;
    }

    .timer-input {
        width: 60px;
    }

    .block {
        display: flex;
        flex-direction: row;
        margin: 10px;
        clear: left;
    }

    .text {
        color: black;
        font-size: 20px;
        font-family: "Lato", sans-serif;
        font-weight: 20;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .digit {
        color: gray;
        font-size: 20px;
        font-weight: 20;
        font-family: "Lato", sans-serif;
        margin: 10px;
        text-align: center;
    }
</style>