<template>
  <div class="wrapper">
    <app-nav-bar v-if="loggedIn"></app-nav-bar>
    <div class="content-wrapper">
      <app-login v-if="!loggedIn"></app-login>
      <app-login-forgot v-if="frgtPsw"></app-login-forgot>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Login from './components/Login.vue';
import LoginForgot from './components/LoginForgot.vue';
import navBar from './components/NavBar.vue';

// Loading Bootstrap, font-awesome
import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue';
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import 'font-awesome/css/font-awesome.css'
Vue.use(BootstrapVue);

// adding LTE theme
import 'va/lib/css'
import 'va/lib/script'

// loading vue event calendar
import 'vue-event-calendar/dist/style.css'
import vueEventCalendar from 'vue-event-calendar'
Vue.use(vueEventCalendar, { locale: 'en', color: '#367fa9' })

// adding Google maps
import * as VueGoogleMaps from 'vue2-google-maps';

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyDjaLQb8ZE8JsNNoKEFwNgqySV6GHqiWU8',
    v: 'OPTIONAL VERSION NUMBER',
    // libraries: 'places', //// If you need to use place input 
  }
});

// define jQ to use jQuery 
window.jQ = window.$ = require('jquery')

export default {
  data() {
    return {
      frgtPsw: false,
      loggedIn: true
    }
  },
  components: {
    appLogin: Login,
    appLoginForgot: LoginForgot,
    appNavBar: navBar,
  },
  created() {
    //initialize users array
    this.$store.dispatch('initUsers');
    //initialize addresses array
    this.$store.dispatch('initAddresses');
    //initialize samples array
    this.$store.dispatch('initSamples');
    //initialize containers array
    this.$store.dispatch('initContainers');
  },
  methods: {

  }


}
</script>

<style>
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-size: 1em;
}

.content {
  padding: 20px 25px 20px 25px;
  margin: 0;
  margin-left: 0px;
  height: 100%;
  min-height: 100%;
  transition: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.content-wrapper {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  background: transparent;
  min-height: 100vh;
  transition: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.hidden {
  display: none;
}

.skin-blue .wrapper {
  background: #ecf0f5;
}

</style>
